doctype html
html(lang='pl')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    title Ulubione
    link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;900&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr' crossorigin='anonymous')
    link(href='/stylesheets/main.e1ba81f63acc95ff784d.css' rel='stylesheet')
  body.favouriteContainer.container
    header.header
      h1.header__title Ulubione
      p.header__description Tutaj znajdziesz wszystkie polubione pokoje przez Ciebie
      i.fas.fa-angle-double-down.header__icon
    .burger
      i.fas.fa-bars
    nav.navigation
      ul.navigation__list
        li.nagivation__item
          a.navigation__link(href='/') Strona główna
        li.nagivation__item
          a.navigation__link(href='/listRooms') Pokoje
        li.nagivation__item
          a.navigation__link.navigation__link--active(href='/favourites') Ulubione
        li.nagivation__item
          a.navigation__link(href='/searchUsers') Użytkownicy
        li.nagivation__item
          a.navigation__link(href='/messages') Wiadomości
        li.nagivation__item
          a.navigation__link(href='/account') Konto
        if  role === 'admin'
          li.nagivation__item
            a.navigation__link(href='/admin') Admin
        li.nagivation__item
          if role
            a.navigation__link.navigation__link--logIn(href='/logOut') Wyloguj
          else
            a.navigation__link.navigation__link--logIn(href='/logIn')
              | Zaloguj
              | si&eogon;
    main.favourites
      h2.favourites__empty Brak ulubionych pokoi
      ul.favourites__list
        each item in data
            li.favourites__item(data-value='download' data-id=item._id)
                h2.favourites__title=item.title
                p.favourites__description=item.description
                p.favourites__comeTo
                    | Aby przejść do pokoju kliknij
                    a.favourites__link(href=`/listRooms/${item._id}`) Tutaj
                i.fas.fa-heart.favourites__heart
    footer.footer
      p.footer__text © Prawa zastrzeżone przez Andrzej Łuszcz
    script(src='/javascripts/main.2706ec3191df15072433.js')
    script(src='/javascripts/favourite.fe3660b21004ae975663.js')
    script(src='/javascripts/removeFavourite.js')
