doctype html
html(lang='pl')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    title Wiadomości
    link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;900&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr' crossorigin='anonymous')
    link(href='/stylesheets/messages.e1ba81f63acc95ff784d.css' rel='stylesheet')
  body.messagesContainer.container
    main.userPanel
      p.userPanel__return
        a.userPanel__link(href='./index.html')
          i.fas.fa-arrow-left.userPanel__arrow
          |  Wróć na stronę główną
      .userContainer
        h1.userContainer__title Wiadomości
        p.userList__title Lista użytkowników:
        ul.userList
          li.userList__item Veex
          li.userList__item Konsti
          li.userList__item Rahexx
          li.userList__item Ewka
          li.userList__item Fraq
          li.userList__item Nela
          li.userList__item Harry
          li.userList__item Virtus
          li.userList__item Omega
          li.userList__item Veex
          li.userList__item Konsti
          li.userList__item Rahexx
          li.userList__item Ewka
          li.userList__item Fraq
          li.userList__item Nela
          li.userList__item Harry
          li.userList__item Virtus
      .chat
        ul.chat__messages
          li.chat__item.chat__item--user
            p.chat__date.chat__date--user 05.11.2020 15:51
            p.chat__text.chat__text--user
              span.chat__textContainer Dzięki trzymaj się
          li.chat__item.chat__item--other
            p.chat__date.chat__date--other 05.11.2020 15:51
            p.chat__text.chat__text--other
              span.chat__textContainer Powodzenia
          li.chat__item.chat__item--user
            p.chat__date.chat__date--user 05.11.2020 15:51
            p.chat__text.chat__text--user
              span.chat__textContainer
                | Lorem ipsum, dolor sit amet
                | consectetur adipisicing elit. Vel quisquam repudiandae, reprehenderit libero obcaecati est
                | nisi asperiores excepturi pariatur provident unde ullam aperiam ab autem itaque temporibus
                | id nostrum. Nulla!
          li.chat__item.chat__item--other
            p.chat__date.chat__date--other 05.11.2020 15:51
            p.chat__text.chat__text--other
              span.chat__textContainer
                | Lorem ipsum dolor sit amet
                | consectetur adipisicing elit. Minus maiores obcaecati nihil iste. Aliquid corporis pariatur
                | voluptatibus, accusamus, ex tenetur laborum dolorem eum, velit repudiandae repellendus eius
                | tempora quia! Itaque.Odit dolore recusandae aliquam, omnis vitae fuga inventore error
                | blanditiis ratione voluptas perferendis dicta, exercitationem quaerat numquam amet
                | laboriosam velit ea deleniti ipsa voluptatum doloribus, natus eos debitis. Ad, odit.
        .chat__serve
          i.far.fa-address-book.chat__users
          form.chat__form
            input.chat__input(placeholder='Aa')
            button.chat__button(disabled='disabled')
              i.fas.fa-arrow-circle-right.chat__send
    script(src='/javascripts/messages.5dd1090abb5944c39b8f.js')