doctype html
html(lang='pl')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    title Wiadomości
    link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;900&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr' crossorigin='anonymous')
    link(href='/stylesheets/messages.e1ba81f63acc95ff784d.css' rel='stylesheet')
  body.messagesContainer.container
    main.userPanel
      p.userPanel__return
        a.userPanel__link(href='/')
          i.fas.fa-arrow-left.userPanel__arrow
          |  Wróć na stronę główną
      .userContainer
        h1.userContainer__title Wiadomości
        p.userList__title Lista użytkowników:
        ul.userList
          each item in logins
            li.userList__item= item
      .chat
        ul.chat__messages
        .chat__serve
          i.far.fa-address-book.chat__users
          form.chat__form(data-login=loginUser)
            input.chat__input(type='text' placeholder='Aa')
            button.chat__button(disabled='disabled')
              i.fas.fa-arrow-circle-right.chat__send
    script(src="/socket.io/socket.io.js")
    script(src='/javascripts/messages.5dd1090abb5944c39b8f.js')
    script(src='/javascripts/sendMessage.js')