doctype html
html(lang='pl')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    title Wyszukaj użytkownika
    link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;900&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr' crossorigin='anonymous')
    link(href='/stylesheets/main.e1ba81f63acc95ff784d.css' rel='stylesheet')
  body.usersContainer.container
    header.header
      h1.header__title Wyszukiwarka użytkowników
      p.header__description Tuta możesz znaleźć użytkownika po jego loginie
      i.fas.fa-angle-double-down.header__icon
    .burger
      i.fas.fa-bars
    nav.navigation
      ul.navigation__list
        li.nagivation__item
          a.navigation__link(href='/') Strona główna
        li.nagivation__item
          a.navigation__link(href='/listRooms') Pokoje
        li.nagivation__item
          a.navigation__link(href='/favourite') Ulubione
        li.nagivation__item
          a.navigation__link.navigation__link--active(href='/searchUser') Użytkownicy
        li.nagivation__item
          a.navigation__link(href='/messages') Wiadomości
        li.nagivation__item
          a.navigation__link(href='/account') Konto
        if  role === 'admin'
          li.nagivation__item
            a.navigation__link(href='/admin') Admin
        li.nagivation__item
          if role
            a.navigation__link.navigation__link--logIn(href='/logOut') Wyloguj
          else
            a.navigation__link.navigation__link--logIn(href='/logIn')
              | Zaloguj
              | si&eogon;
    main.users
      h2.users__formTitle Podaj login użytkownika:
      form.users__searchForm
        input.users__searchInput(placeholder='Szukaj użytkownika')
        button.users__search
          i.fas.fa-search.users__icon
      ul.users__list
        each item in data
            li.users__item(data-value='download')
                p.users__login=item.login
                a.users__link(href=`/searchUsers/profile/${item._id}`)
                    i.fas.fa-arrow-right
    footer.footer
      p.footer__text © Prawa zastrzeżone przez Andrzej Łuszcz
    script(src='/javascripts/main.2706ec3191df15072433.js')
    script(src='/javascripts/searchUser.js')