doctype html
html(lang='pl')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    title Rejestracja
    link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;900&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr' crossorigin='anonymous')
    link(href='/stylesheets/signUp.e1ba81f63acc95ff784d.css' rel='stylesheet')
  body.signContainer
    main.signHolder
      h1.signHolder__header Formularz Rejestracji
      .signHolder__progressBar
        .signHolder__step
          p.signHolder__stepTitle Imię
          .signHolder__bullet
            span.signHolder__bulletContent 1
          .signHolder__check.fas.fa-check
        .signHolder__step
          p.signHolder__stepTitle Kontakt
          .signHolder__bullet
            span.signHolder__bulletContent 2
          .signHolder__check.fas.fa-check
        .signHolder__step
          p.signHolder__stepTitle Urodziny
          .signHolder__bullet
            span.signHolder__bulletContent 3
          .signHolder__check.fas.fa-check
        .signHolder__step
          p.signHolder__stepTitle Akceptacja
          .signHolder__bullet
            span.signHolder__bulletContent 4
          .signHolder__check.fas.fa-check
      .signHolder__formOuter
        form.signHolder__form(method='post')
          .signHolder__page.signHolder__page--slidePage
            .signHolder__title Podstawowe informacje:
            .signHolder__field
              input.signHolder__input(name='name')
              label.signHolder__label(for='name') Imię
              p.signHolder__error.name Imię nie może być puste i mieć cyfr
              span.signHolder__line
            .signHolder__field
              input.signHolder__input(name='surname')
              label.signHolder__label(for='surname') Nazwisko
              p.signHolder__error.surname Nazwisko nie może być puste i mieć cyfr
              span.signHolder__line
            .signHolder__field
              button.signHolder__button.signHolder__button--first Następny
          .signHolder__page
            .signHolder__title kontakt:
            .signHolder__field
              input.signHolder__input(type='email' name='email')
              label.signHolder__label(for='email') Email
              p.signHolder__error.email Email musi mieć @ i domenę
              span.signHolder__line
            .signHolder__field
              input.signHolder__input(name='phone')
              label.signHolder__label(for='phone') Numer telefonu
              p.signHolder__error.phone Błędny numer telefonu
              span.signHolder__line
            .signHolder__field.signHolder__field--buttons
              button.signHolder__button.previoutButton.previoutButton--1 Poprzedni
              button.signHolder__button.nextButton.nextButton--1 Następny
          .signHolder__page
            .signHolder__title Data urodzenia
            .signHolder__field
              input.signHolder__input(type='date' name='date')
              label.signHolder__label(for='login') data:
              p.signHolder__error.date Wybierz poprawną datę urodzenia
              span.signHolder__line
            .signHolder__field
              label.signHolder__label.signHolder__label--select(for='sex') Płeć
              select.signHolder__select(name='sex')
                option Mężczyzna
                option Kobieta
                option Inne
            .signHolder__field
              button.signHolder__button.previoutButton.previoutButton--2 Poprzedni
              button.signHolder__button.nextButton.nextButton--2 Następny
          .signHolder__page
            .signHolder__title Dane logowania
            .signHolder__field
              input.signHolder__input(name='login')
              label.signHolder__label(for='login') Login:
              p.signHolder__error.login Login musi mieć minimum 3 litery i nie może zawierać znaków specjalnych
              span.signHolder__line
            .signHolder__field
              input.signHolder__input(type='password' name='password')
              label.signHolder__label(for='password') Hasło:
              p.signHolder__error.password Hasło musi mieć conajmniej 8 znaków. 1 duża,1 mała litera i 1 cyfra
              span.signHolder__line
            .signHolder__field
              button.signHolder__button.previoutButton.previoutButton--3 Poprzedni
              input.signHolder__button.signHolder__button--submit(type='submit' value='Zarejestruj się')
      p.logHolder__text.logHolder__text--signUp
        | Wróć do 
        a.logHolder__link(href='./logIn') Logowania
    script(src='/javascripts/signUp.5c5f0bdf72a3aaf7f3b9.js')
    script(src='/javascripts/addUser.js')